[build]
base = "frontend"
command = "npm run build"
publish = "build"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/api/*"
[headers.values]
"Cache-Control" = "no-cache"
